Data/uilayout.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT background (#PCDATA)>

<!ELEMENT gadget (#PCDATA | gadget | command | button | dropdown | submenu | stateEntry)*>
<!ATTLIST gadget  name                              CDATA     #REQUIRED
                  type                               (gadget | 
                                                      button | 
                                                      checkButton | 
                                                      stateButton | 
                                                      meshButton | 
                                                      textBox | 
                                                      formatText |
                                                      editBox |
                                                      dialog | 
                                                      textField | 
                                                      list | 
                                                      pictureTextButton | 
                                                      colorDropdown |
                                                      commandPanel | 
                                                      displayPanel | 
                                                      favorDisplay | 
                                                      debugUnitPanel | 
                                                      armyBanner | 
                                                      heroBanner | 
                                                      idleBanner | 
                                                      scale | 
                                                      slider | 
                                                      soundgadget | 
                                                      soundeditdialog | 
                                                      menu |
                                                      palette |
                                                      animationgadget | 
                                                      animationslider |
                                                      radioset |
                                                      xsdebugger |
                                                      simpleTextBox |
                                                      progressBar )  #REQUIRED
                  text                              CDATA     #IMPLIED
                  textColor                         CDATA     #IMPLIED
                  textFont                          CDATA     #IMPLIED
                  textFontSize                      CDATA     #IMPLIED
                  background                        CDATA     #IMPLIED
                  backgroundMesh                    CDATA     #IMPLIED
                  size1024                          CDATA     #IMPLIED
                  sizeRel1024                       CDATA     #IMPLIED
                  Z                                 CDATA     #IMPLIED
                  titlebar                          CDATA     #IMPLIED
                  closeButton                       CDATA     #IMPLIED
                  bevel                             CDATA     #IMPLIED
                  sunkenbevel                       CDATA     #IMPLIED
                  foreground                        CDATA     #IMPLIED
                  centerVert                        CDATA     #IMPLIED
                  centerHoriz                       CDATA     #IMPLIED
                  bevelButton                       CDATA     #IMPLIED
                  textCenterHoriz                   CDATA     #IMPLIED
                  textCenterVert                    CDATA     #IMPLIED
                  textJustifyRight                  CDATA     #IMPLIED
                  fieldVal                          CDATA     #IMPLIED
                  history                           CDATA     #IMPLIED
                  transparent                       CDATA     #IMPLIED
                  meshScale                         CDATA     #IMPLIED
                  meshYaw                           CDATA     #IMPLIED
                  hidden                            CDATA     #IMPLIED
                  columnOrder                       CDATA     #IMPLIED
                  showSelect                        CDATA     #IMPLIED
                  scrollHoriz                       CDATA     #IMPLIED
                  scrollVert                        CDATA     #IMPLIED
                  allowDoubleClick                  CDATA     #IMPLIED
                  allowRightClick                   CDATA     #IMPLIED
                  selectedColor                     CDATA     #IMPLIED
                  buttonSize1024                    CDATA     #IMPLIED
                  dontHighlight                     CDATA     #IMPLIED
                  picture                           CDATA     #IMPLIED
                  pictureSize1024                   CDATA     #IMPLIED
                  dataRefreshRate                   CDATA     #IMPLIED
                  tileBackground                    CDATA     #IMPLIED
                  mouseoverText                     CDATA     #IMPLIED
                  tooltipText                       CDATA     #IMPLIED
                  commandPanelButtonSize1024        CDATA     #IMPLIED
                  commandPanelButtonSeparation1024  CDATA     #IMPLIED
                  pictureSeparation1024             CDATA     #IMPLIED
                  border1024                        CDATA     #IMPLIED
                  pictureBorder1024                 CDATA     #IMPLIED
                  pictureTextBottom                 CDATA     #IMPLIED
                  backgroundAlpha                   CDATA     #IMPLIED
                  backgroundColor                   CDATA     #IMPLIED
                  favorDisplaySize1024              CDATA     #IMPLIED
                  favorDisplayOffset1024            CDATA     #IMPLIED
                  favorTextSize1024                 CDATA     #IMPLIED
                  favorTextOffset1024               CDATA     #IMPLIED
                  favorDisplay                      CDATA     #IMPLIED
                  favorMaxDisplay                   CDATA     #IMPLIED
                  favorTotalDisplay                 CDATA     #IMPLIED
                  timeout                           CDATA     #IMPLIED
                  noDataReplace                     CDATA     #IMPLIED
                  singleEdit                        CDATA     #IMPLIED
                  commandHistory                    CDATA     #IMPLIED
                  grabInput                         CDATA     #IMPLIED
                  enterKey                          CDATA     #IMPLIED
                  contextExclusive                  CDATA     #IMPLIED
                  verticalButtons                   CDATA     #IMPLIED
                  useMask                           CDATA     #IMPLIED
                  maskVertical                      CDATA     #IMPLIED
                  maskInvert                        CDATA     #IMPLIED
                  maskFlip                          CDATA     #IMPLIED
                  maskColor                         CDATA     #IMPLIED
                  maskAlpha                         CDATA     #IMPLIED
                  bannerSize                        CDATA     #IMPLIED
                  bannerProto                       CDATA     #IMPLIED
                  idleType                          CDATA     #IMPLIED
                  showNonIdle                       CDATA     #IMPLIED
                  displayPanelSelectionSize1024     CDATA     #IMPLIED
                  displayPanelInventorySize1024     CDATA     #IMPLIED
                  displayPanelQueuePortraitSize1024 CDATA     #IMPLIED
                  displayPanelPercentTextSize1024   CDATA     #IMPLIED
                  displayPanelQueueSize1024         CDATA     #IMPLIED
                  displayPanelMultiPortraitButtonSeparation    CDATA    #IMPLIED
                  textWrapOn                        CDATA     #IMPLIED
                  textMarkUp                        CDATA     #IMPLIED
                  useHyperlinks                     CDATA     #IMPLIED
                  root                              CDATA     #IMPLIED
                  sound                             CDATA     #IMPLIED
                  tickmarkBitmap                    CDATA     #IMPLIED
                  tickmarkColor                     CDATA     #IMPLIED
                  emptyBitmap                       CDATA     #IMPLIED
                  emptyColor                        CDATA     #IMPLIED
                  separation1024                    CDATA     #IMPLIED
                  maxValue                          CDATA     #IMPLIED
                  textureReplace                    CDATA     #IMPLIED
                  clampForeground                   CDATA     #IMPLIED
                  clampBackground                   CDATA     #IMPLIED
                  dropDownDistance                  CDATA     #IMPLIED
                  dropDownVisItems                  CDATA     #IMPLIED
                  rightCheck                        CDATA     #IMPLIED
                  checkCheckedArt                   CDATA     #IMPLIED
                  checkUnCheckedArt                 CDATA     #IMPLIED
                  checkHighlightArt                 CDATA     #IMPLIED
                  checkBorder1024                   CDATA     #IMPLIED  
                  fade                              CDATA     #IMPLIED
                  textScrollbar                     CDATA     #IMPLIED
                  lockTitlebarMove                  CDATA     #IMPLIED
                  showValue                         CDATA     #IMPLIED
                  configIndex                       CDATA     #IMPLIED
                  includeButtons                    CDATA     #IMPLIED
                  numberField                       CDATA     #IMPLIED
                  floatField                        CDATA     #IMPLIED
                  intField                          CDATA     #IMPLIED
                  sliderButtons                     CDATA     #IMPLIED
                  sliderEndButtons                  CDATA     #IMPLIED
                  sliderClickInc                    CDATA     #IMPLIED
                  sliderSlowUpdate                  CDATA     #IMPLIED
                  sliderVertical                    CDATA     #IMPLIED
                  sliderLeftBtnSet                  CDATA     #IMPLIED
                  sliderRightBtnSet                 CDATA     #IMPLIED
                  sliderUpBtnSet                    CDATA     #IMPLIED
                  sliderDownBtnSet                  CDATA     #IMPLIED
                  sliderPipArt                      CDATA     #IMPLIED
                  sliderPipTextureCoords            CDATA     #IMPLIED
                  sliderAreaArt                     CDATA     #IMPLIED
                  paletteUseDropdown                CDATA     #IMPLIED
                  paletteUserTab                    CDATA     #IMPLIED
                  paletteListBackground             CDATA     #IMPLIED
                  paletteButtonBackground           CDATA     #IMPLIED
                  paletteElemSize1024               CDATA     #IMPLIED
                  paletteContentSize1024            CDATA     #IMPLIED
                  paletteTitleLeft                  CDATA     #IMPLIED  
                  paletteTitleRight                 CDATA     #IMPLIED
                  paletteTitleTop                   CDATA     #IMPLIED
                  paletteTitleBottom                CDATA     #IMPLIED  
                  radioSetRightButtons              CDATA     #IMPLIED
                  radioSetTitle                     CDATA     #IMPLIED
                  radioSetTitleLeft                 CDATA     #IMPLIED  
                  radioSetDefaultButtonIndex        CDATA     #IMPLIED
                  radioSetButtonSize1024            CDATA     #IMPLIED
                  radioSetHorizLayout               CDATA     #IMPLIED
                  radioCheckedArt                   CDATA     #IMPLIED
                  radioUnCheckedArt                 CDATA     #IMPLIED
                  radioHighlightArt                 CDATA     #IMPLIED
                  radioBtnBorder1024                CDATA     #IMPLIED
                  alphaSort                         CDATA     #IMPLIED
                  animateMesh                       CDATA     #IMPLIED
                  meshIsometric                     CDATA     #IMPLIED
                  autoClose                         CDATA     #IMPLIED
                  resizeHorz                        CDATA     #IMPLIED
                  resizeVert                        CDATA     #IMPLIED
                  moveable                          CDATA     #IMPLIED
                  refreshOnReal                     CDATA     #IMPLIED
                  scaleHorizontal                   CDATA     #IMPLIED
                  fieldRequireEnter                 CDATA     #IMPLIED
                  fieldReadOnly                     CDATA     #IMPLIED
                  fieldAlphaOnly                    CDATA     #IMPLIED
                  fieldMaskText                     CDATA     #IMPLIED
                  fieldNameTextColor                CDATA     #IMPLIED
                  fieldNameTextFont                 CDATA     #IMPLIED
                  fieldNameTextFontSize             CDATA     #IMPLIED
                  fieldTextBoxColor                 CDATA     #IMPLIED
                  fieldTextBoxArt                   CDATA     #IMPLIED
                  fieldHideOnInactive               CDATA     #IMPLIED
                  fieldAllowDropEdits               CDATA     #IMPLIED
                  context                           CDATA     #IMPLIED
                  cursorAlwaysOn                    CDATA     #IMPLIED
                  normalCursorAlwaysOn              CDATA     #IMPLIED
                  mouseOverColor                    CDATA     #IMPLIED
                  listActivateOnAlphaJump           CDATA     #IMPLIED
                  checkbutton                       CDATA     #IMPLIED
                  persistentPosition                CDATA     #IMPLIED
                  persistentAlpha                   CDATA     #IMPLIED
                  textSimpleAddScrollsToBottom      CDATA     #IMPLIED
                  stateButtonDefaultState           CDATA     #IMPLIED
                  stateButtonUseInternalStates      CDATA     #IMPLIED
                  editBoxAlphaOnly                  CDATA     #IMPLIED
                  editBoxPosIntOnly                 CDATA     #IMPLIED
                  editBoxNumericOnly                CDATA     #IMPLIED
                  editBoxReadOnly                   CDATA     #IMPLIED
                  editBoxMaskChars                  CDATA     #IMPLIED
                  editBoxPrompt                     CDATA     #IMPLIED
                  editBoxMaxChars                   CDATA     #IMPLIED
                  antiBlurReduction                 CDATA     #IMPLIED
                  useButtonSet                      CDATA     #IMPLIED
                  leftCapArt                        CDATA     #IMPLIED  
                  rightCapArt                       CDATA     #IMPLIED
                  topCapArt                         CDATA     #IMPLIED
                  bottomCapArt                      CDATA     #IMPLIED
                  formatTextConvertUserLF           CDATA     #IMPLIED
                  formatTextUseDataReplace          CDATA     #IMPLIED>

<!ELEMENT command (#PCDATA)>

<!ELEMENT layout (gadget+ | background? | position*)+>

<!ELEMENT button (#PCDATA)>
<!ATTLIST button  command   CDATA  #IMPLIED>

<!ELEMENT dropdown (#PCDATA)>
<!ATTLIST dropdown  command   CDATA  #IMPLIED>

<!ELEMENT position (#PCDATA)>
<!ATTLIST position  name     CDATA  #REQUIRED
                    size1024 CDATA  #REQUIRED >

<!ELEMENT submenu (#PCDATA| submenu)*>
<!ATTLIST submenu  title       CDATA  #REQUIRED
                   separator   CDATA  #IMPLIED
                   accelerator CDATA  #IMPLIED
                   disabled    CDATA  #IMPLIED
                   configIndex CDATA  #IMPLIED >

<!ELEMENT stateEntry (#PCDATA)>
<!ATTLIST stateEntry  background       CDATA    #IMPLIED
                      backgroundColor  CDATA    #IMPLIED >

